.txt-blue-light-color {	
    color: #4F81BD;	
}

.txt-gray-light-color{
    color: #BACAD3;
}

.txt-turquoise-dark-color{
    color: #206C76 !important;
}
		
.bg-blue-light-color {	
    background-color: #4F81BD;	
}	

.bg-spindle-color {
    background-color: #BACAD3;
}

.w-35 { 
    width: 35%;
}

.w-80 {	
    width: 80%;	
}	
.w-90 {	
    width: 90%;	
}

.mb-25 {	
    margin-bottom: 25px !important;	
}	
.mb-50{	
    margin-bottom: 50px !important;	
}	
.mb-75{	
    margin-bottom: 75px !important;	
}	
.mb-150{
    margin-bottom: 150px !important;
}
.mb-125{	
    margin-bottom: 125px !important;	
}	
.mb-0{	
    margin-bottom: 0 !important;	
}	
.mt-75{	
    margin-top: 75px !important;	
}	
.mt-50{	
    margin-top: 50px !important;	
}	
.pr-70 {	
    padding-right: 70px!important;	
}	
.pl-70 {	
    padding-left: 70px!important;	
}	
.pl-13 {	
    padding-left: 13px;	
}

.font-size-50{
    font-size: 50px;
}

.font-size-45{
    font-size: 45px;
}

.font-size-40{
    font-size: 40px;
}

.font-size-75{
    font-size: 75px;
}

.font-size-25{
    font-size: 25px;
}

.font-size-24{
    font-size: 24px;
}

.font-size-35{	
	font-size: 35px;	
}

.font-size-20{
    font-size: 20px;
}
		
.font-size-22{	
    font-size: 22px;	
}	
.font-size-17{	
    font-size: 17px;	
}

.letter-space-1{
    letter-spacing: 1px;;
}

.letter-space-2{
    letter-spacing: 2px;;
}

.page-section{
    padding-top: 150px;
    padding-bottom: 150px;
}

.header-social-icon ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-social-icon ul li{
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 40px;
}

.header-social-icon i {
    color: #8d8d8d;
    font-size: 35px;
}

.wrap-color-fff{
    color: #fff;
}
.no-padding{
    padding: 0px;
}
.section-title h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #07375B;
    text-align: left;
}
.section-title h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 37%;
    height: 3px;
    background: #4f81bd;
    bottom: 0;
}
.txt-main-color{
    color: #07375B;
}
.border-wrap-img{
    border-bottom: 1px solid #000;
    padding-bottom: 60px;
}
.sub-menu{
    background-color: #052136;
}
.item-sub-menu{
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
}
.item-sub-menu a{
    color: #fff;
}

.item-sub-menu i {
    padding-right: 5px;
}
.wrap-sub-menu{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.wrap-sub-menu .item-sub-menu .active{
    color: rgb(255 80 41);
}
.toggle-sub-menu{
    line-height: 6;
    position: absolute;
    right: 0px;
    margin-right: 40px;
   
}
.toggle-sub-menu i{
    font-size: 25px;
    color: #4C82BD;
}
.wrap-btn-banner-home a{
    background-color:  #FF5129;
    border: none;
    border-radius: 0px;
    padding: 10px;
}
.wrap-btn-banner-home a:hover{
    background-color:  #FF5129;
    border: none;
    border-radius: 0px;
}
.wrap-btn-banner-home a:active{
    background-color:  #FF5129 !important;
    border: none;
    border-radius: 0px;
}
.wrap-btn-banner-home a:focus{
    background-color:  #FF5129;
    border: none;
    border-radius: 0px;
}

.banner-hawk{
    background-size: cover; 
}

.features {
    font-size: 20px;
}

.features .row.content {
    padding: 100px;
}	

#footer .copyright img,
header .logo img {
    width: 205px;
}

#footer .contact-us span{
    font-weight: bold;
}

.bg-blue {
    background-color: #f1f4f6;
}

.feature-title {
    display: initial;
    padding-bottom: 10px;
    border-bottom: 3px solid #4f81bd;
    font-weight: bold;
    color: #07375B;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.feature-title.feature-title-light {
    color: white;
    border-bottom: 3px solid #4f81bd;
}

span.content-title {
    letter-spacing: 0.3px;	
    color: #4589BC !important;
    font-weight: bold;
}

p.read-more-detail {
    color: #07375B;
    font-weight: bold;
    font-size: 18px;
}

p.read-more-detail i {
    color: #8d8d8d;
    margin-right: 5px;
}

#our-team {
    background-color: #07375b;
    color: #fff;
}

#our-team img.circle-img {
    border-radius: 50%;
    min-height: 160px;
}

#our-team .member-icon i {
    font-size: 30px;
}

#contact-us {
    background-color: #07375b;
}

.virtual{
    background: url('../img/services/Image-13.png') center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(7, 55, 91, .6);
}

.btn-orange {	
    color: #fff;	
    background-color:#FF5129;	
    border-color: #FF5129;	
    padding: 15px 25px;
}	
.btn-orange:hover,	
.btn-orange:focus {	
    color: #fff;	
    background-color: rgb(253, 46, 0);	
    border-color: rgb(253, 46, 0);	
}	
#contact-us a{	
    text-decoration: underline;	
}

.contact-info {
    color: #fff;
}

hr.contact-line {
    background-color: #4C82BD;
}

.coporate-item {
    min-height: 250px;
    background-color: #f1f4f6;
    margin: 10px 15px;
}

.bg-light {
    background-color: #bacad3;
}

.inclusion-item {
    background-color: #f1f4f6;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 50px;
}

.coporate-item .icon {
    padding: 30px 0;
}

.coporate-item .coporate-item-title {
    color: #404040 !important;
    font-size: 21px;
}

.case_study .slogan {
    background-color: #f1f4f6;
}

.case_study .fa-arrow-left {	
    font-size: 25px;	
    color: #FF5129;	
}	
.case_study h4 b {	
    color: #4589BC;	
}

/*service-page*/
.service-title-body > h5{
    line-height: 1.5;
 }
 /*service-page-end*/

@media(max-width: 576px){
    /*service-page*/
    .position-icon{
        top: 55%;
        right: 0;
    }
    /*service-page-end*/
}

@media (max-width: 768px) {
    .header-social-icon ul li{
        padding: 10px 0 10px 20px;
    }

    #features .row.content {
        padding: 20px;
    }    

    #banner-hawk .r_brand_banner img {
        width: 75%;
    }

    .pr-60 {	
        padding-right: 15px!important;	
    }	
    	
    .pl-60 {	
        padding-left: 15px!important;	
    }	

    .inclusion-item {	
        padding: 15px;	
    }	

    .smb-150 {	
        margin-bottom: 150px;	
    }
}

@media (width: 768px){
     /*service-page*/
     .position-icon{
        right: 0;
        top: 40%;
    }
    .position-icon i{
        font-size: 3rem;
    }
    /*service-page-end*/
}


.r_brand_banner{
    margin-top: 60px;
    margin-bottom: 30px;
} 
.r_brand_banner h1{
    font-size: 70px;
}
.r_banner_des {
    margin-bottom: 50px;
    margin-top: 10px;
}
.r_banner_des p{
    font-size: 27px;
}
.wrap-btn-banner-home{
    margin-bottom: 140px;
}
.wrap-btn-banner-home .btn{
    margin-right: 40px;
}

.industries-p,
.industries-p > p{
    display: inline;
}

.industries-expertise span p:nth-child(1){
    font-weight: bold; 
    margin-bottom: 5px;
}

.industries-expertise span p:nth-child(2){
    margin-bottom: 1rem !important;
}

/*Custom subnav*/
@media (min-width: 992px){
    .nav-menu li.drop-down>a::after {
        content: none !important;
    }

    .nav-menu li.drop-down ul {
        width: 100% !important;
        position: absolute !important;
        left: 0 !important;
        top: 100px !important;    
    }

    .nav-menu li.drop-down:hover ul {
        display: block;
    }

    .nav-menu li.drop-down::after {
        content: "";
        margin-left: -10px;
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 100px
    }

    .nav-menu li.drop-down ul{
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }

    .nav-menu li.drop-down ul li a{
        text-transform: uppercase !important;
        font-size: 14px !important;
        font-family: "Arial";
        font-weight: bold;
        letter-spacing: 1px;
    }
    .nav-menu li.drop-down ul li a:hover{
        color: #FF5129;
    }
    
    /*service-page*/
    .position-icon{
        top: 55%;
        right: 0;
    }
    /*service-page-end*/
}

/* .drop-down ul:before {
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
} */

/*About US*/	
#our-client p { 	
    font-size: 20px;	
}	
#our-client .custom-height-img {	
    height: 130px;	
    margin: 0 auto;    	
    display: block;	
}	
#our-client .custom-height-img img {	
    position: absolute;	
    top: 50%;	
    left: 50%;	
    transform: translate(-50%, -50%);	
    width: 125px;
}


#about .text-1{
    font-size: 45px;
    margin-top: 30px;
}

#about .text-2{
    font-size: 25px;
}

.services .icon {
    margin-bottom: 50px;
}

.services .icon img{
    width: 75px;
}

#career-index {	
    background-color: #07375B;	
}	

#career-index .container h2 {	
    color:#fff;	
}

.career-working p{
    margin-bottom: 0;
}

.career-working p:nth-child(1), 
.career-working p:nth-child(2) {
    margin-bottom: 1rem;
}

#inclusion {	
    background-color: #BACAD3;	
}	

.slash-icon {	
    color: #BACAD3;	
    padding: 0 10px;	
}	
.mobile-nav .drop-down > a:after,
.mobile-nav .active.drop-down > a:after {
    content: "\f106";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}
  
.mobile-nav .toggle.drop-down > a:after {
    content: "\f107"; /* the desired FontAwesome icon */
}

/*Fix issue white space below footer in large screen for index*/
@media (min-width: 992px){
    
    html{
        height: 100%;
    }

    body{
        position: relative;
        padding-bottom:200px;	
    }

    /*For home page*/
    body.home{

        height: 100%;
    }

    .home #page{
        height: 100%;
    }

    .home #content{
        height: 100%;
    }
    
    .home #header{
        height:100px;
    }
    
    .home main{
        height: calc(100% - 100px);
    }
    
    .home #banner-hawk{
        min-height: 100%;
    }
    
    #footer{
        padding-top: 50px;
    }

    #banner-hawk .r_brand_banner img {
       width: 35%;
    }

    #banner-hawk .r-title-banner h1{
        font-size: 75px;
    }
}
